.dropdownMenu {
    border: 1px solid;
    width: 120px;
    display: none;
    position: relative;
    z-index: 2;
    background-color: brown;
}

.targetCharacters {
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.targetCharacter {
    padding: 10px;
    user-select: none;
    cursor: default;
}

.targetCharacter:hover {
    background-color: burlywood;
}
