.headerBar {
    background-color: skyblue;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 90px;
    /* z-index: 2; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerRight {
    display: flex;
    align-items: center;
}

.charactersToFind {
    display: flex;
    user-select: none;
}

.found {
    opacity: 0.5;
}

.character2 {
    padding: 0 10px;
}

.character1,
.character2,
.character3 {
    height: 70px;
    -webkit-user-drag: none;
}

.timer {
    padding-right: 10px;
}

.leaderboardBtn {
}
