.homeBackground {
    background-image: url("../assets/whereswaldopuzzle.jpeg");
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px);
    margin-top: 5px;
}

.homePageWelcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3b82f6;
    width: 40%;
    padding: 20px;
    text-align: center;
    border: solid 3px;
    border-radius: 20px;
}

.homeTargets {
    padding: 20px;
    height: 150px;
}

.startBtn {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid;
    cursor: pointer;
}

.footer {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: deepskyblue;
    height: 15px;
}

.home-container {
    min-height: calc(90vh - 35px);
}
